logs/
cache/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
dist/
.idea/
run/
build/
.DS_Store
launch.json
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
data/*
pnpm-lock.yaml
public/uploads/*
venv/*
venv/lib/*
venv/lib/python3.11/*
venv/lib/python3.11/site-packages/*
venv/lib/python3.11/site-packages/customtkinter/*
venv/lib/python3.11/site-packages/customtkinter/CTkMessagebox.py
venv/lib/python3.11/site-packages/customtkinter/CTkMessagebox.pyc
venv/lib/python3.11/site-packages/customtkinter/CTkMessagebox.pyd
venv/lib/python3.11/site-packages/customtkinter/CTkMessagebox.pyw
venv/lib/python3.11/site-packages/customtkinter/CTkMessagebox.pyx
venv/lib/python3.11/site-packages/customtkinter/CTkMessagebox.pyz
venv/lib/python3.11/site-packages/customtkinter/CTkMessagebox.pyz.py
venv/lib/python3.11/site-packages/customtkinter/CTkMessagebox.pyz.pyc
venv/lib/python3.11/site-packages/customtkinter/CTkMessagebox.pyz.pyd
venv/lib/python3.11/site-packages/customtkinter/CTkMessagebox.pyz.pyw
venv/lib/python3.11/site-packages/customtkinter/CTkMessagebox.pyz.pyx
venv/bin/*
venv/bin/python
venv/bin/python3
venv/bin/python3.11
venv/bin/python3.11/site-packages
venv/bin/python3.11/site-packages/customtkinter
venv/bin/python3.11/site-packages/customtkinter/CTkMessagebox.py
venv/bin/python3.11/site-packages/customtkinter/CTkMessagebox.pyc
venv/bin/python3.11/site-packages/customtkinter/CTkMessagebox.pyd
venv/bin/python3.11/site-packages/customtkinter/CTkMessagebox.pyw
venv/bin/python3.11/site-packages/customtkinter/CTkMessagebox.pyx
venv/bin/python3.11/site-packages/customtkinter/CTkMessagebox.pyz